/* table */
@media(max-width: 1023px){
    .column{
        width: 50% !important;
    }
}

@media(max-width: 767px){
    .column{
        width: 100% !important;
    }

    #nav-bar ul:last-child{
        display: none;
    }

    .logo span{
        display: none;
    }

    .submit-btn{
        width: 100%;
    }

    .about__item{
        margin: 32px 0;
    }


}